# ★ 메2 길드 홈페이지 부분 ★

# 메2 길드 소개 페이지
guild_ms2_homepage/guild_intro.html
# 메2 길드 구성원 페이지
guild_ms2_homepage/guild_members.html
# 메2 길드 가입 문의
guild_ms2_homepage/guild_join.html
# 메2 길드 이미지 페이지(원래 사용하지 않던 페이지)
guild_ms2_homepage/guild_image.html