/* font preface delaration */
@font-face{
	font-family:"gyeonggicheonneyon-medium";
	src:url("경기서체웹폰트/Title_Medium.otf");
}
@font-face{
	font-family:"gyeonggicheonneyon-light";
	src:url("경기서체웹폰트/Title_Light.otf");
	
}

/* CSS code start */
/* 모든 문서의 기본 설정 */
*{
	font-family:"gyeonggicheonneyon-light";
}
h1,h2,h3,h4,h5,h6,strong{
	font-family:"gyeonggicheonneyon-medium";
}
html,body{
    margin:0px;
    padding:0px;
    background-color:ivory;
}
div.div-content{
    padding:auto;
}

a.disable-default-font-color{
    color:inherit;
    text-decoration: inherit;
}
li>ul.sub-menu{
    display:none;
}
li>ul.sub-menu:hover{
    display:inherit;
}

/* navigator */
div.navigator-area{
    display:block;
    background-color:rgb(255,160,102);
    width:100%;
    height:auto;
    padding:0px;
    margin:0px;
}
ul.navbar-target1{
    padding:0px;
    margin:0px;
}
ul.navbar-target1>li{
    position: relative;
    display:inline-block;
    width:auto;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom: 10px;
    margin:0px;
    height:auto;
    background-color: bisque;
    vertical-align: middle;
    border-radius: 10px;
    font-weight: 400;
    color:black;
    font-size:medium;
}
ul.navbar-target1>li.red{background-color:tomato;}
ul.navbar-target1>li.orange{background-color:rgb(255, 180, 40);}
ul.navbar-target1>li.green{background-color: lightgreen;}
ul.navbar-target1>li.skyblue{background-color: skyblue;}
ul.navbar-target1>li.white{background-color: white;}
ul.navbar-target1>li.transparent{background-color: transparent;}

ul.navbar-target1>li p{
    text-align: center;
    margin:0px;
}
.guild_logo{
    width:40px;
    height:40px;
}
.navbar-target>div.login_btn_area{
	display:inline;
	position:right;
}
li.right{float:right;}
.tag-center{display:inline-block;}

/* 게시판 */

tr,td{
	border:1px solid #000000;
}
td.board-number{
    width:60px;
    text-align:center;
}
td.board-enroll-time{
    width:150px;
    text-align:center;
}
td.board-author{
    width:120px;
    text-align: center;
}
td.board-hit{
    width:60px;
    text-align: center;
}
td.board-title{
    width:600px;
}
ul.board-page-btns{
    display:table;
    margin:auto;
}
li.btn-page-move{
    display: inline-block;
    width:32px;
    text-align:center;
    background-color:rgb(241, 190, 59);
    border-radius: 8px;
    left:50%;
}
li.yellow{background-color:yellow;}
li.btn-page-move>a{color:inherit; text-decoration: inherit;}
